/* Icons taken from: https://freesvg.org/ */
/* Original percentage button: https://codepen.io/junebug12851/pen/mJZNqN */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

:root {
    --background: linear-gradient(to right, #1CB5E0, #000046);
    --font-family: 'Orbitron', sans-serif;
    --scale: 0;
    --box-shadow: 5px 5px 5px 0px #000000,
    inset   4px 4px 15px 0px #000000, 
            5px 5px 15px 5px rgba(0,0,0,0);
    --border-bottom: solid 3px #000046;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background: var(--background);
}

.dice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 20vh;
    border-bottom: var(--border-bottom)
}

.container-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 25vh;
    border-bottom: var(--border-bottom)
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 20%;
}

.container-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 250px;
    border-bottom: var(--border-bottom);
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

li {
    font-family: var(--font-family);
    font-size: 1.5rem;
    color: f9dd94;
    border-bottom: 2px double black;
}

        
ol li {
    list-style-type: none;
    counter-increment: item;
}
  
ol li:before {
    content: counter(item);
    margin-right: 5px;
    font-size: 80%;
    background-color: #f9dd94;
    color: #7eb4e2;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

.result {
    height: 10rem;
    min-width: 10rem;
    font-family: var(--font-family);
    font-size: 3.5rem;
    line-height: 9.5rem;
    text-align: center;
    color: #03c603;
    border: 5px solid #53fc53;
    border-radius: 50%;
    box-shadow: 0 0 20px #029502;
    margin-top: 0.5rem;
}

.inner {
    position: relative;
    height: 9.5rem;
    width: 9.5rem;
}

.inner img {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.gifs {
    position: relative;
    height: 10rem;
    width: 10rem;
    border: 5px solid #53fc53;
    border-radius: 50%;
    box-shadow: 0 0 20px #029502;
}

.failure-gif,
.sucess-gif {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
}

button {
    height: 5rem;
    width: 5rem;
    max-height: 15%;
    max-width: 15%;
    margin: 20px;
    overflow: hidden;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

select {
    font-family: var(--font-family);
    font-size: 1rem;
    height: 25%;
    width: 100%;
    box-shadow: var(--box-shadow);
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

input {
    font-family: var(--font-family);
    font-size: 1rem;
    height: 25%;
    width: 100%;
    box-shadow: var(--box-shadow);
    margin-top: 0.5rem;
    margin-left: 0.75rem;
}

h4 {
    position: relative;
    display: inline;
    font-family: var(--font-family);
    font-size: 1.8rem;
    bottom: 40px;
}

h2 {
    position: relative;
    font-family: var(--font-family);
    font-size: 4rem;
    text-decoration: underline;
    transform: translateY(-115%);
}

.history {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

.total {
    grid-column: span 4;
    text-align: center;
    font-family: var(--font-family);
    font-size: 5rem;
    text-decoration: underline;
    /* animation: textAnimation 3s linear infinite; */
}

@keyframes textAnimation {
    0% {transform: scale(0.1);}
    25% {transform: scale(0.5);}
    50% {transform: scale(1);}
    75% {transform: scale(0.5);}
    100% {transform: scale(0.1);}
}

.lucky-roll::before {
    content: attr(data-tooltip);
    position: absolute;
    font-family: var(--font-family);
    color: darkorange;
    transform: translate(-40%, -150%) scale(var(--scale));
    transition: 200ms transform;
}

.clean::before {
    content: attr(data-tooltip);
    position: absolute;
    font-family: var(--font-family);
    color: darkorange;
    transform: translate(-25%, -150%) scale(var(--scale));
    transition: 200ms transform;
}

.lucky-roll:hover::before,
.clean:hover::before {
    --scale: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

:-moz-placeholder {
  color: #7aa6f3;
  text-shadow: 0 0 3px #7aa6f3;
}
::-moz-placeholder {
  color: #7aa6f3;
  text-shadow: 0 0 3px #7aa6f3;
}
.wrapper {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-align: center;
  align-items: center;
  -o-box-pack: center;
  justify-content: center;
  -o-box-orient: vertical;
  flex-direction: row;
  height: 100%;
  cursor: pointer;
}
.green .progress,
.red .progress,
.orange .progress {
  position: relative;
  border-radius: 50%;
}
.green .progress,
.red .progress,
.orange .progress {
  width: 10rem;
  height: 10rem;
}
.green .progress {
  border: 5px solid #53fc53;
}
.green .progress {
  box-shadow: 0 0 20px #029502;
}
.green .progress,
.red .progress,
.orange .progress {
  transition: all 1s ease;
}
.green .progress .inner,
.red .progress .inner,
.orange .progress .inner {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  border-radius: 50%;
}
.green .progress .inner,
.red .progress .inner,
.orange .progress .inner {
  width: 9.5rem;
  height: 9.5rem;
}
.green .progress .inner,
.red .progress .inner,
.orange .progress .inner {
  border: 5px solid #1a1a1a;
}
.green .progress .inner,
.red .progress .inner,
.orange .progress .inner {
  transition: all 1s ease;
}
.green .progress .inner .water,
.red .progress .inner .water,
.orange .progress .inner .water {
  position: absolute;
  z-index: 1;
  width: 200%;
  height: 200%;
  left: -50%;
  border-radius: 40%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: spin;
  animation-name: spin;
}
.green .progress .inner .water {
  top: 25%;
}
.green .progress .inner .water {
  background: rgba(83,252,83,0.5);
}
.green .progress .inner .water,
.red .progress .inner .water,
.orange .progress .inner .water {
  transition: all 1s ease;
}
.green .progress .inner .water,
.red .progress .inner .water,
.orange .progress .inner .water {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}
.green .progress .inner .water {
  box-shadow: 0 0 20px #03bc03;
}
.green .progress .inner .glare,
.red .progress .inner .glare,
.orange .progress .inner .glare {
  position: absolute;
  top: -120%;
  left: -120%;
  z-index: 5;
  width: 200%;
  height: 200%;
  transform: rotate(45deg);
  border-radius: 50%;
}
.green .progress .inner .glare,
.red .progress .inner .glare,
.orange .progress .inner .glare {
  background-color: rgba(255,255,255,0.15);
}
.green .progress .inner .glare,
.red .progress .inner .glare,
.orange .progress .inner .glare {
  transition: all 1s ease;
}
.green .progress .inner .percent,
.red .progress .inner .percent,
.orange .progress .inner .percent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
}
.green .progress .inner .percent,
.red .progress .inner .percent,
.orange .progress .inner .percent {
  line-height: 9.5rem;
  font-size: 52.3076923076923px;
}
.green .progress .inner .percent {
  color: #03c603;
}
.green .progress .inner .percent {
  text-shadow: 0 0 10px #029502;
}
.green .progress .inner .percent,
.red .progress .inner .percent,
.orange .progress .inner .percent {
  transition: all 1s ease;
}
.red {
  margin-top: 15px;
}
.red .progress {
  border: 5px solid #ed3b3b;
}
.red .progress {
  box-shadow: 0 0 20px #7a0b0b;
}
.red .progress .inner .water {
  top: 75%;
}
.red .progress .inner .water {
  background: rgba(237,59,59,0.5);
}
.red .progress .inner .water {
  box-shadow: 0 0 20px #9b0e0e;
}
.red .progress .inner .percent {
  color: #a30f0f;
}
.red .progress .inner .percent {
  text-shadow: 0 0 10px #7a0b0b;
}
.orange {
  margin-top: 15px;
}
.orange .progress {
  border: 5px solid #f07c3e;
}
.orange .progress {
  box-shadow: 0 0 20px #7e320a;
}
.orange .progress .inner .water {
  top: 50%;
}
.orange .progress .inner .water {
  background: rgba(240,124,62,0.5);
}
.orange .progress .inner .water {
  box-shadow: 0 0 20px #a0400c;
}
.orange .progress .inner .percent {
  color: #a8430d;
}
.orange .progress .inner .percent {
  text-shadow: 0 0 10px #7e320a;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (width < 400px) {
       .container-3 {
        transform: translateY(-20%) scale(0.6);
        gap: 1rem;
        border: none;
    }

    .history {
        transform: translateY(-15%)
    }

    .history > ol {
        transform: translateY(-15%)
    }
}